@model SystemWspomaganiaNauczania.Models.OrderTask

@{
    ViewBag.Title = "Szczegóły zadania";
}
<h2>Szczegóły zadania</h2>
<div>
    <hr />
    <div class="container dl-horizontal">

        <div class="row">
            <div class="col-sm-4" style=" padding: 0; margin-bottom: 20px;">

                @if (Model.Image != null && Model.Image != "")
                {
                    <img class="card-img-top" src="~/Images/@Model.Image" alt="Card image" style="max-width:100%">
                }
                else
                {
                    <img class="card-img-top" src="~/Images/brak-zdjecia.png" alt="Card image" style="width: 100%;">
                }
            </div>
            <div class="col-sm-4" style="margin-left:50px; margin-top:70px;">
                <div>
                    <h2 style="margin:0;"> @Html.DisplayFor(model => model.Title)</h2>
                    <h3>@Html.DisplayFor(model => model.Description)</h3>
                    <a href="/OrderTasks/Solve/@Model.ID" class="btn btn-success" style="float:right; margin-left:5px; margin-top:50%">Rozwiąż zadanie</a>
                </div>
            </div>

        </div>
        <hr />
        <h2>Wyrazy do uporządkowania</h2>

        <div class="container">
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in ViewBag.taskWords)
                    {
                        <tr>
                            <td style="font-weight:bold;">@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<h2>Komentarze</h2>
@if (User.Identity.IsAuthenticated) { 

    <div id="commentDiv">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="container form-horizontal" style="margin-left:15px; margin-bottom:25px;">
                <div class="input-group" style="width: 97%; ">

                    <input type="hidden" name="ProfileID" class="form-control" value="@(ViewBag.profileID)" />

                    <input type="hidden" name="OrderTaskID" class="form-control" value="@Model.ID" />

                    <textarea name="Content" id="CommentInput" class="form-control" placeholder="Twój komentarz" style="height: 35px"></textarea>

                    <div class="input-group-btn" style="margin: 0; padding:0;">
                        <input type="submit" value="Dodaj komentarz" class="btn btn-success" style="float:left" />
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (Model.Comments.Count != 0)
{
    <div class="container">
        <table class="table table-striped">
            <tbody>
                @foreach (var item in Model.Comments)
                {
                    <tr>
                        <td style="width:200px; font-weight:bold;">@item.Profile.FirstName @item.Profile.LastName:</td>
                        <td><div style=" width: 900px; word-wrap: break-word; ">@item.Content </div></td>
                        @if (User.Identity.Name == item.Author || Context.User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Delete", "Comments", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <td>
                                    <input type="hidden" name="id"value="@item.ID" />
                                    <input type="submit" class="btn btn-danger" value="Usuń komentarz" />
                                </td>
                            }
                    }
                    else
                    {
                        <td width="128px" height="33.5px" style="padding:8px"></td>
                    }

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4>Brak komentarzy</h4>
}